include README.txt
include README.md
include SETUP.pdf

recursive-include sen2three *

exclude sen2three/*.pyc sen2three/*.c sen2three/*.o
global-exclude scratch.py .DS_Store .estimation *.bak *.tmp *~
prune sen2three/bin
prune sen2three/dem
prune sen2three/log
prune sen2three/build/temp*
